<flu-hero-container>

  <h2 class="title">Lettre de voiture nº {{ waybillId }} </h2>

  <flu-waybill-order-form [contacts]="contacts$ | async"></flu-waybill-order-form>

  <flu-error [errorMsg]="result.errorMsg"></flu-error>

  <div class="level"></div>

  <ng-container *ngIf="waybill$ | async as waybill; else loading">

    <div class="buttons" *ngIf="isNotLoadStarted(waybill)">

      <button class="button" [routerLink]="['/lettre-de-voiture', waybillId, 'detail']">
        Annuler
      </button>

      <button class="button is-link" (click)="sendOrderInfo()" [disabled]="result.pending"
              [ngClass]="{'is-loading': result.pending}">
        Modifier
      </button>
    </div>

    <div class="level" *ngIf="isLoadStarted(waybill)">
      <div class="level-item notification">
        Aucune modification est possible après le démarrage du chargement.
      </div>
    </div>

  </ng-container>

  <ng-template #loading>
    <flu-loading></flu-loading>
  </ng-template>


</flu-hero-container>
