<flu-hero-container *ngIf="contract$ | async as contract; else loading" class="content">

  <flu-waybill [contract]="contract"></flu-waybill>

  <div class="level"></div>

  <button *ngIf="contract.status === STATUS.ACCEPTED && contract.loadInfo" class="button is-link" (click)="saveLoadInfo(contract)">
    Je valide le chargement
  </button>

  <button *ngIf="contract.status === STATUS.CONFIRMED && contract.unloadInfo" class="button is-link" (click)="saveUnloadInfo(contract)">
    Je valide le déchargement
  </button>

  <div class="level"></div>

  <div class="level" *ngIf="errorMsg">
    <div class="level-item notification is-danger">{{errorMsg}}</div>
  </div>

  <flu-waybill-activity [contract]="contract"></flu-waybill-activity>

</flu-hero-container>

<ng-template #loading>
  <flu-loading></flu-loading>
</ng-template>
