<nav class="navbar" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <img src="/assets/marianne.svg" height="80px"/>
    </div>
    <a class="navbar-item is-size-5" routerLink="/">
      Fluctu@t
    </a>
  </div>

  <div class="navbar-end">


    <div class="navbar-item">
      <button routerLink="/acces-lettre-de-voiture" class="button is-white is-medium">Consulter une lettre de voiture</button>
    </div>

    <div class="navbar-item" *ngIf="authenticated$ | async">
      <button routerLink="/mes-lettres-de-voiture" class="button is-white is-medium">Mes lettres de voiture</button>
    </div>

    <div class="navbar-item" *ngIf="authenticated$ | async">
      <button (click)="logout()" class="button is-white is-medium">Déconnexion</button>
    </div>
    <div class="navbar-item" *ngIf="!(authenticated$ | async)">
      <button routerLink="/inscription" class="button is-white is-medium">Créer une compte</button>
    </div>
    <div class="navbar-item" *ngIf="!(authenticated$ | async)">
      <button routerLink="/connexion" class="button is-white is-medium">Connexion</button>
    </div>

  </div>
</nav>
