<h3>Déchargement</h3>

<p>Le transporteur déclare avoir remis <strong>{{waybill.unloadInfo.merchandiseWeight}}</strong> tonnes de
  <strong>{{waybill.order.merchandise.nature}}</strong> au <strong>{{waybill.order.destinationInfo.port}}</strong>.</p>

<p>Le déchargement, commencé le <strong>{{waybill.unloadInfo.startDate}}</strong>
  s'est terminé le <strong>{{waybill.unloadInfo.endDate}}.</strong>
</p>

<ng-container *ngIf="waybill.unloadInfo.comments">
  <h4>Commentaires</h4>
  <p>{{waybill.unloadInfo.comments}}</p>
</ng-container>
