<flu-hero-container class="content">

  <ng-container *ngIf="waybill$ | async as waybill; else loading">
    <h1>Lettre de voiture nº {{waybill.code}}</h1>

    <flu-waybill-order-info class="box" [order]="waybill.order"></flu-waybill-order-info>

    <div class="level"></div>

    <flu-waybill-load-info class="box has-background-light" [waybill]="waybill"></flu-waybill-load-info>

    <flu-success *ngIf="waybill.loadInfo.validatedAt">
      Chargement confirmé le {{waybill.loadInfo.validatedAt | date: "d LLLL y \'à\' H'h' mm":'':'fr'}}
    </flu-success>

    <flu-error [errorMsg]="result.errorMsg"></flu-error>

    <div class="level"></div>

    <div class="buttons" *ngIf="!waybill.loadInfo.validatedAt">
      <button class="button is-link" (click)="validateLoadInfo(waybill)"
              [disabled]="result.pending" [ngClass]="{'is-loading': result.pending}">
        Confirmer le chargement
      </button>
    </div>

  </ng-container>

  <ng-template #loading>
    <flu-loading></flu-loading>
  </ng-template>

</flu-hero-container>
