<p>Donneur d'ordre: <strong>{{order.customer.name}}</strong> ({{order.customer.email}})</p>
<p>Expéditeur : <strong>{{order.sender.name}}</strong> ({{order.sender.email}})</p>
<p>Destinatire : <strong>{{order.receiver.name}}</strong> ({{order.receiver.email}})</p>

<p>Le Bateau <strong class="is-uppercase">{{order.ship.name}}</strong>,
  matricule <strong>{{order.ship.regNumber}}</strong> est conduit par <strong>{{order.transporter.name}}</strong>
  ({{order.transporter.email}} {{order.transporter.cellphone}}).
</p>
