<flu-hero-container *ngIf="contract$ | async as contract; else loading">
  <h1 class="title">Transport #{{contract.id}}</h1>

  <div class="level" style="padding-left: 30px">
    <div class="level-right">
      <div class="level-item">
        <div class="timeline">
          <div class="timeline-header">
            <span class="tag is-medium is-link">Crée</span>
          </div>
          <div class="timeline-item" [ngClass]="{'is-link': contract.acceptedAt}">
            <div class="timeline-marker is-icon" [ngClass]="{'has-background-link': contract.acceptedAt}">
              <i class="fa"
                 [ngClass]="{'fa-flag': !contract.acceptedAt, 'fa-check': contract.acceptedAt, 'has-text-success': contract.acceptedAt}"></i>
            </div>
            <div class="timeline-content">
              <p *ngIf="!contract.acceptedAt">En attente d'acceptation par le client</p>
              <p *ngIf="contract.acceptedAt">
                Le client <strong>{{contract.delivery.client.name}}</strong> a acepté la confirmation de transport
                le {{contract.acceptedAt | date: "d LLLL y \'à\' H'h' mm":'':'fr'}}
              </p>
              <p>Voir la
                <a [routerLink]="'/transporteur/contrat/' + contract.id + '/confirmation-transport'">Confirmation de Transport</a>
              </p>
            </div>
          </div>
          <div class="timeline-header">
            <span class="tag is-medium"
                  [ngClass]="{'has-text-grey-light': !contract.acceptedAt, 'is-link': contract.loadedAt}">
              Chargement
            </span>
          </div>
          <div class="timeline-item" [ngClass]="{'is-link': contract.loadedAt}">
            <div class="timeline-marker is-icon"
                 [ngClass]="{'has-background-link': contract.loadedAt}">
              <i class="fa fa-truck-loading" [ngClass]="{'has-text-success': contract.confirmedAt}"></i>
            </div>
            <div class="timeline-content">
              <p *ngIf="contract.status === STATUS.ACCEPTED">
                <button class="button is-text"
                        [routerLink]="'/transporteur/contrat/' + contract.id + '/bateau'">Chargement de la marchandise...
                </button>
              </p>
              <p class="has-text-grey-light" *ngIf="contract.status === STATUS.CREATED">Chargement de la marchandise</p>
              <p *ngIf="contract.loadedAt">La marchandise est chargée</p>
              <p *ngIf="contract.status ===  STATUS.LOADED">En attente de confirmation par le client</p>
              <p *ngIf="contract.confirmedAt"> Le client <strong>{{contract.delivery.client.name}}</strong> a confirmé
                le chargement le {{contract.confirmedAt| date: "d LLLL y \'à\' H'h' mm":'':'fr'}}
              </p>
              <p *ngIf="contract.loadedAt && !contract.unloadedAt">Voir la
                <a [routerLink]="'/transporteur/contrat/' + contract.id + '/lettre-voiture'">Lettre de Voiture</a>
              </p>
            </div>
          </div>
          <div class="timeline-header">
            <span class="tag is-medium"
                  [ngClass]="{'has-text-grey-light': !contract.confirmedAt, 'is-link': contract.unloadedAt}">
              Déchargement
            </span>
          </div>
          <div class="timeline-item" [ngClass]="{'is-link': contract.unloadedAt}">
            <div class="timeline-marker is-icon"
                 [ngClass]="{'has-background-link': contract.unloadedAt}">
              <i class="fas fa-truck-loading flu-flip-h" [ngClass]="{'has-text-success': contract.receivedAt}"></i>
            </div>
            <div class="timeline-content">
              <p *ngIf="!contract.confirmedAt" class="has-text-grey-light">Déchargement de la marchandise</p>
              <p *ngIf="contract.status === STATUS.CONFIRMED">
                <button class="button is-text"
                        [routerLink]="'/transporteur/contrat/' + contract.id + '/dechargement'">Déchargement de la marchandise...
                </button>
              </p>
              <p *ngIf="contract.unloadedAt">La marchandise est déchargée</p>
              <p *ngIf="contract.status === STATUS.UNLOADED">En attente de confirmation par le client</p>
              <p *ngIf="contract.receivedAt">Le client <strong>{{contract.delivery.client.name}}</strong> a confirmé
                le déchargement le {{contract.receivedAt | date: "d LLLL y \'à\' H'h' mm":'':'fr'}}
              </p>
              <p *ngIf="contract.unloadedAt">Voir la
                <a [routerLink]="'/transporteur/contrat/' + contract.id + '/lettre-voiture'">Lettre de Voiture</a>
              </p>
            </div>
          </div>
          <div class="timeline-header">
            <span class="tag is-medium"
                  [ngClass]="{'has-text-grey-light': !contract.unloadedAt, 'is-link': contract.receivedAt}">
              Fini</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</flu-hero-container>

<ng-template #loading>
  <flu-loading></flu-loading>
</ng-template>
