<div class="content">

  <p *ngIf="contract.loadedAt">
    Lettre de voiture chargement crée par {{contract.transporter.name}} le {{contract.loadedAt | date: "d LLLL y \'à\' H'h' mm":'':'fr'}}
  </p>

  <p *ngIf="contract.confirmedAt">
    Chargement confirmé par {{contract.delivery.client.name}} le {{contract.confirmedAt | date: "d LLLL y \'à\' H'h' mm":'':'fr'}}
  </p>

  <p *ngIf="contract.unloadedAt">
    Lettre de voiture déchargement crée par {{contract.transporter.name}} le {{contract.unloadedAt | date: "d LLLL y \'à\' H'h' mm":'':'fr'}}
  </p>

  <p *ngIf="contract.unloadedAt && contract.receivedAt">
    Déchargement confirmé par {{contract.delivery.client.name}} le {{contract.receivedAt | date: "d LLLL y \'à\' H'h' mm":'':'fr'}}.
  </p>

</div>
