<flu-hero-container>
  <h2 class="title" *ngIf="!userName"> Connexion</h2>

  <div class="content" *ngIf="userName">
    <h3 class="subtitle">Bonjour {{userName}}, </h3>
    <p>Merci de vous reconnecter sur la plateforme.</p>
  </div>

  <form style="max-width: 400px" #loginForm="ngForm">

    <div class="field" [hidden]="userName">
      <div class="control">
        <label class="label">Email</label>
        <input class="input is-medium" type="email" name="email" [(ngModel)]="userCredentials.email"
               autocomplete="email" email required>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label class="label">Mot de passe</label>
        <input class="input is-medium" type="password" name="password" [(ngModel)]="userCredentials.password" required>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" (click)="login()" [disabled]="loginForm.invalid || result.pending">
          Se connecter
        </button>
      </div>
      <div class="control">
        <button class="button is-white has-text-link" routerLink="/mot-de-passe-oublie">Mot de passe oublié ?</button>
      </div>
    </div>

    <div class="level" >
      <div class="level-left">
        <div class="level-item" *ngIf="!userName">
          <span style="margin-right: 0.75rem">Pas encore inscrit ?</span>
          <button class="button is-white has-text-link" routerLink="/inscription">Créer un compte</button>
        </div>

        <div class="level-item" *ngIf="userName">
          <a (click)="changeUser()"> (utiliser un compte different)</a>
        </div>
      </div>

    </div>

    <flu-error [errorMsg]="result.errorMsg"></flu-error>
  </form>
</flu-hero-container>
