<footer class="footer has-background-black-ter has-text-white-ter">
  <div class="level">

    <div class="level-left">
      <div class="level-item" style="margin: 0.75rem">
           <figure class="image">
             <img src="/assets/logo-mtes-mef.svg">
           </figure>
         </div>
      <div class="level-item" style="margin: 0.75rem">
        <figure class="image is-96x96">
          <img src="/assets/logo-fabnum.svg">
        </figure>
      </div>
      <div class="level-item" style="margin: 0.75rem">

        <p class="content" style="max-width: 300px">
          Fluctu@t est un service numérique de l'Etat incubé à la Fabrique Numerique du Ministère de la Transition
          écologique et solidaire, membre du réseau d'incubateurs
          <a href="https://beta.gouv.fr" class="has-text-white-ter">beta.gouv.fr</a>
        </p>
      </div>

    </div>

    <div class="level-right">
      <div class="level-item">
        <a href="mailto:contact@fluctuat.beta.gouv.fr" class="has-text-white-ter">Nous contacter</a>
      </div>
    </div>
  </div>
</footer>
