<flu-hero-container class="flu-text-form">
  <h1 class="title">Nouveau Transport Fluvial</h1>
  <h2 class="subtitle">Quel est le trajet ?</h2>

  <form class="content" #formPath="ngForm" novalidate>

    <datalist id="ports">
      <option *ngFor="let port of ports" [value]="port">
    </datalist>

    <div class="columns is-paddingless is-marginless">
      <div class="column is-paddingless is-marginless">

        <div class="columns is-paddingless is-marginless">
          <div class="column is-narrow" style="padding-left: 0"><p class="subtitle is-3">Départ du</p></div>
          <div class="column">
            <div class="control">
              <input [(ngModel)]="delivery.origin" #origin="ngModel" name="origin" required
                     class="input is-medium" [ngClass]="{'is-danger': hasError(origin)}"
                     list="ports"
                     placeholder="Port de départ">
            </div>
          </div>
        </div>

      </div>
      <div class="column is-paddingless is-marginless is-3">

        <div class="columns is-paddingless is-marginless is-mobile">
          <div class="column is-narrow" style="padding-left: 0"><p class="subtitle is-3">le</p></div>
          <div class="column">
            <div class="control">
              <input fluDatePicker [(date)]="delivery.departureDate"
                     [(ngModel)]="delivery.departureDate" #departureDate="ngModel" name="departureDate" required
                     class="input is-medium" [ngClass]="{'is-danger': hasError(departureDate)}"
                     placeholder="jj/mm/aaaa">
            </div>
          </div>
        </div>

      </div>
      <div class="column is-paddingless is-marginless is-2">
        <div class="columns is-paddingless is-marginless is-mobile">
          <div class="column is-narrow" style="padding-left: 0"><p class="subtitle is-3">à</p></div>
          <div class="column">
            <div class="control">
              <input fluTimePicker [(date)]="delivery.departureTime"
                     [(ngModel)]="delivery.departureTime" #departureTime="ngModel" name="departureTime" required
                     class="input is-medium" [ngClass]="{'is-danger': hasError(departureTime)}"
                     placeholder="hh:mm">
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="columns is-paddingless is-marginless">
      <div class="column is-paddingless is-marginless">

        <div class="columns is-paddingless is-marginless">
          <div class="column is-narrow" style="padding-left: 0"><p class="subtitle is-3">Arrivé au</p></div>
          <div class="column">
            <div class="control">
              <input [(ngModel)]="delivery.destination" #destination="ngModel" name="destination" required
                     class="input is-medium" [ngClass]="{'is-danger': hasError(destination)}"
                     list="ports"
                     placeholder="Port d'arrivé">
            </div>
          </div>
        </div>

      </div>
      <div class="column is-paddingless is-marginless is-3">

        <div class="columns is-paddingless is-marginless is-mobile">
          <div class="column is-narrow" style="padding-left: 0"><p class="subtitle is-3">le</p></div>
          <div class="column">
            <div class="control">
              <input fluDatePicker [(date)]="delivery.arrivalDate"
                     [(ngModel)]="delivery.arrivalDate" #arrivalDate="ngModel" name="arrivalDate" required
                     class="input is-medium" [ngClass]="{'is-danger': hasError(arrivalDate)}"
                     placeholder="jj/mm/aaaa">
            </div>
          </div>
        </div>

      </div>
      <div class="column is-paddingless is-marginless is-2">
        <div class="columns is-paddingless is-marginless is-mobile">
          <div class="column is-narrow" style="padding-left: 0"><p class="subtitle is-3">à</p></div>
          <div class="column">
            <div class="control">
              <input fluTimePicker [(date)]="delivery.arrivalTime"
                     [(ngModel)]="delivery.arrivalTime" #arrivalTime="ngModel" name="arrivalTime" required
                     [fluWhenEnterPressed]="nextStep"
                     class="input is-medium" [ngClass]="{'is-danger': hasError(arrivalTime)}"
                     placeholder="hh:mm">
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="level">
      <div class="level-item">
        <p *ngIf="formPath.invalid && submitted" class="notification is-danger">Veuillez vérifier votre saisie</p>
      </div>
      <div class="level-right">
        <div class="level-item">
          <button class="level-item button is-text" type="button" (click)="submit()">Continuer</button>
        </div>
      </div>
    </div>

  </form>
</flu-hero-container>
