<h3>Marchandise</h3>

<p>Le donneur d'ordre <strong class="is-uppercase">{{delivery.client.name}}</strong>
  souhaite la prise en
  charge du transport de <strong>{{delivery.merchandise.weight}}</strong> tonnes de
  <strong class="is-uppercase">{{delivery.merchandise.type}}</strong>.</p>

<p>La valeur déclarée est de <strong>{{delivery.merchandise.price}} € </strong> par tonne.</p>

<h3>Trajet</h3>

<p>Départ du <strong>{{delivery.origin}}</strong> le
  <strong>{{delivery.departureDate}}</strong> à <strong>{{delivery.departureTime}}</strong></p>

<p>Arrivé au <strong>{{delivery.destination}}</strong> le
  <strong>{{delivery.arrivalDate}}</strong> à <strong>{{delivery.arrivalTime}}</strong></p>

<h3>Delai de planche</h3>

<p>Le délai de planche est de <strong>{{delivery.loadDelay}}</strong> jours au chargement et de
  <strong>{{delivery.unloadDelay}}</strong> au déchargement.</p>

<h3>Conditions Tarifaires</h3>

<p>Le prix du fret convenu est de <strong>{{delivery.price}} € </strong> par tonne.</p>

<p>Les surestaries convenus sont de <strong>{{delivery.delayPenalty}} € </strong> par jour.</p>
