<flu-hero-container *ngIf="contract$ | async as contract" class="content">
  <h1>Confirmation de transport</h1>

  <flu-delivery-detail [delivery]="contract.delivery"></flu-delivery-detail>

  <div class="level"></div>

  <button *ngIf="!contract.createdAt" class="button is-link" (click)="send(contract)">Créer</button>

  <a class="button is-text" *ngIf="contract.createdAt" [href]="contract.documentUrl" target="_blank">
    Télécharger la confirmation de transport
  </a>

  <div class="level"></div>

  <flu-delivery-activity [contract]="contract"></flu-delivery-activity>

</flu-hero-container>
