<section class="section">
  <div class="container">
    <h1 class="title">
      Fluctu@t
    </h1>

    <!-- Customer -->
    <div class="card">

      <div class="card-header">
        <div class="card-header-icon">
          <span class="icon is-small is-left">
            <i class="fas fa-user-tie"></i>
          </span>
        </div>
        <div class="card-header-title">Client / Courtier</div>
      </div>

      <div class="card-content">

        <div class="field">
          <div class="control">
            <label class="radio">
              <input type="radio" name="client" checked>
              Client
            </label>
            <label class="radio">
              <input type="radio" name="courtier">
              Courtier
            </label>
          </div>
        </div>

        <div class="field">
          <label class="label">Nom</label>
          <div class="control">
            <input class="input" placeholder="Nom client">
          </div>
        </div>

        <div class="field">
          <label class="label">Adresse</label>
          <div class="control">
            <input class="input" placeholder="Adresse client">
          </div>
        </div>

      </div>
    </div>

    <!-- Load Merchandise -->
    <div class="card">
      <div class="card-header">
        <div class="card-header-icon">
          <span class="icon is-small is is-left">
            <i class="fa fa-truck-loading"></i>
          </span>
        </div>
        <div class="card-header-title">Chargement merchandise</div>
      </div>

      <div class="card-content">

        <div class="field">
          <label class="label">Port</label>

          <div class="control has-icons-left">
            <span class="icon is-small is-left">
              <i class="fas fa-anchor"></i>
            </span>
            <input class="input" placeholder="Port">
          </div>
        </div>

        <div class="field">
          <label class="label">Date</label>

          <div class="control has-icons-left">
            <span class="icon is-small is-left">
              <i class="fas fa-calendar"></i>
            </span>
            <input class="input" type="datetime-local">
          </div>
        </div>

        <div class="field">
          <label class="label">Délai de planche</label>

          <div class="control">
            <input class="input" placeholder="Délai de planche">
          </div>
        </div>

        <div class="field">
          <label class="label">Type de merchandise</label>

          <div class="control">
            <input class="input" placeholder="type de merchandise">
          </div>
        </div>

        <div class="field">
          <label class="label">Tonnage</label>

          <div class="control">
            <input class="input" placeholder="Tonnage">
          </div>
        </div>

        <div class="field">
          <label class="label">Volume et dimensions</label>

          <div class="control">
            <input class="input" placeholder="Volume et dimensions">
          </div>
        </div>

        <div class="field">
          <label class="label">Nombre d'unités de charge</label>

          <div class="control">
            <input class="input" placeholder="Nombre d'unités de charge">
          </div>
        </div>

        <div class="field">
          <label class="label">Matières dangereuses</label>
          <div class="control">
            <label class="radio">
              <input type="radio" name="oui" checked>
              Oui
            </label>
            <label class="radio">
              <input type="radio" name="non">
              Non
            </label>
          </div>
        </div>

        <div class="field">
          <label class="label">Précautions à prendre</label>

          <div class="control">
            <textarea class="textarea" placeholder="Précautions à prendre"></textarea>
          </div>
        </div>

      </div>
    </div>

    <!-- Unload Merchandise -->
    <div class="card">
      <div class="card-header">
        <div class="card-header-icon">
          <span class="icon is-small is is-left">
            <i class="fa fa-truck-loading"></i>
          </span>
        </div>
        <div class="card-header-title">Déchargement merchandise</div>
      </div>

      <div class="card-content">

        <div class="field">
          <label class="label">Port</label>

          <div class="control has-icons-left">
            <span class="icon is-small is-left">
              <i class="fas fa-anchor"></i>
            </span>
            <input class="input" placeholder="Port">
          </div>
        </div>

        <div class="field">
          <label class="label">Date</label>

          <div class="control has-icons-left">
            <span class="icon is-small is-left">
              <i class="fas fa-calendar"></i>
            </span>
            <input class="input" type="datetime-local">
          </div>
        </div>

        <div class="field">
          <label class="label">Délai de planche</label>

          <div class="control">
            <input class="input" placeholder="Délai de planche">
          </div>
        </div>

        <div class="field">
          <label class="label">Type de merchandise</label>

          <div class="control">
            <input class="input" placeholder="type de merchandise">
          </div>
        </div>

        <div class="field">
          <label class="label">Tonnage</label>

          <div class="control">
            <input class="input" placeholder="Tonnage">
          </div>
        </div>

        <div class="field">
          <label class="label">Volume et dimensions</label>

          <div class="control">
            <input class="input" placeholder="Volume et dimensions">
          </div>
        </div>

        <div class="field">
          <label class="label">Nombre d'unités de charge</label>

          <div class="control">
            <input class="input" placeholder="Nombre d'unités de charge">
          </div>
        </div>

        <div class="field">
          <label class="label">Matières dangereuses</label>
          <div class="control">
            <label class="radio">
              <input type="radio" name="oui" checked>
              Oui
            </label>
            <label class="radio">
              <input type="radio" name="non">
              Non
            </label>
          </div>
        </div>

        <div class="field">
          <label class="label">Précautions à prendre</label>

          <div class="control">
            <textarea class="textarea" placeholder="Précautions à prendre"></textarea>
          </div>
        </div>

      </div>
    </div>

    <!-- Tarifes -->
    <div class="card">
      <div class="card-header">
        <div class="card-header-icon">
          <span class="icon is-small is is-left">
            <i class="fa fa-money-bill"></i>
          </span>
        </div>
        <div class="card-header-title">Tarifes</div>
      </div>

      <div class="card-content">

        <div class="field">
          <label class="label">Prix à la tonne</label>

          <div class="control">
            <input class="input" placeholder="Prix à la tonne">
          </div>
        </div>

        <div class="field">
          <label class="label">Prise en charge des péages et taxes par le client</label>
          <div class="control">
            <label class="radio">
              <input type="radio" name="oui" checked>
              Oui
            </label>
            <label class="radio">
              <input type="radio" name="non">
              Non
            </label>
          </div>
        </div>

        <div class="field">
          <label class="label">Surestaires</label>

          <div class="control">
            <input class="input" placeholder="Surestaires">
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
