<form *ngIf="orderForm" [formGroup]="orderForm">

  <div class="card">
    <div class="card-content" formGroupName="customer">
      <p class="title">Donneur d'ordre</p>

      <flu-form-field>
        <datalist id="flu-customer-name">
          <option *ngFor="let item of contacts?.customerNames" [value]="item">
        </datalist>

        <label class="label">Nom ou raison sociale</label>
        <input class="input is-medium" formControlName="name" list="flu-customer-name">
      </flu-form-field>

      <div class="field">
        <div class="control">
          <datalist id="flu-customer-email">
            <option *ngFor="let item of contacts?.customerEmails" [value]="item">
          </datalist>

          <label class="label">Email de contact</label>
          <input class="input is-medium" formControlName="email" type="email" list="flu-customer-email"
                 [ngClass]="{'is-danger': orderForm.get('customer.email').invalid}">
        </div>
        <p *ngIf="orderForm.get('customer.email').invalid" class="help is-danger">
          L'email n'est pas valide</p>
      </div>

    </div>
  </div>

  <div class="level"></div>

  <div class="card">
    <div class="card-content" formGroupName="sender">
      <p class="title">Expéditeur</p>

      <flu-form-field>
        <datalist id="flu-sender-name">
          <option *ngFor="let item of contacts?.senderNames" [value]="item">
        </datalist>
        <label class="label">Nom ou raison sociale</label>
        <input class="input is-medium" formControlName="name" list="flu-sender-name">
      </flu-form-field>

      <div class="field">
        <div class="control">
          <datalist id="flu-sender-email">
            <option *ngFor="let item of contacts?.senderEmails" [value]="item">
          </datalist>
          <label class="label">Email de contact</label>
          <input class="input is-medium" formControlName="email" type="email" list="flu-sender-email"
                 [ngClass]="{'is-danger': orderForm.get('sender.email').invalid}">
        </div>
        <p *ngIf="orderForm.get('sender.email').invalid" class="help is-danger">
          L'email n'est pas valide</p>
      </div>

    </div>
  </div>

  <div class="level"></div>

  <div class="card">
    <div class="card-content" formGroupName="receiver">
      <p class="title">Destinataire</p>

      <flu-form-field>
        <datalist id="flu-receiver-names">
          <option *ngFor="let item of contacts?.receiverNames" [value]="item">
        </datalist>
        <label class="label">Nom ou raison sociale</label>
        <input class="input is-medium" formControlName="name" list="flu-receiver-names">
      </flu-form-field>

      <div class="field">
        <div class="control">
          <datalist id="flu-receiver-emails">
            <option *ngFor="let item of contacts?.receiverEmails" [value]="item">
          </datalist>
          <label class="label">Email de contact</label>
          <input class="input is-medium" formControlName="email" type="email" list="flu-receiver-emails"
                 [ngClass]="{'is-danger': orderForm.get('receiver.email').invalid}">
        </div>
        <p *ngIf="orderForm.get('receiver.email').invalid" class="help is-danger">
          L'email n'est pas valide</p>
      </div>

    </div>
  </div>

  <div class="level"></div>

  <div class="card">
    <div class="card-content" formGroupName="middleman">
      <p class="title">Affréteur</p>

      <flu-form-field>
        <datalist id="flu-middleman-names">
          <option *ngFor="let item of contacts?.middlemanNames" [value]="item">
        </datalist>
        <label class="label">Nom ou raison sociale</label>
        <input class="input is-medium" formControlName="name" list="flu-middleman-names">
      </flu-form-field>

      <div class="field">
        <div class="control">
          <datalist id="flu-middleman-emails">
            <option *ngFor="let item of contacts?.middlemanEmails" [value]="item">
          </datalist>
          <label class="label">Email de contact</label>
          <input class="input is-medium" formControlName="email" type="email" list="flu-middleman-emails"
                 [ngClass]="{'is-danger': orderForm.get('middleman.email').invalid}">
        </div>
        <p *ngIf="orderForm.get('middleman.email').invalid" class="help is-danger">
          L'email n'est pas valide</p>
      </div>

      <div class="field">
        <div class="control">
          <label class="label">Qualité</label>
          <input class="is-checkradio is-dark" formControlName="isBroker" id="isBrokerTrue" type="radio"
                 [value]="true">
          <label for="isBrokerTrue">Courtier</label>
          <input class="is-checkradio is-dark" formControlName="isBroker" id="isBrokerFalse" type="radio"
                 [value]="false">
          <label for="isBrokerFalse">Commissionnaire</label>
        </div>
      </div>

    </div>
  </div>

  <div class="level"></div>

  <div class="card">
    <div class="card-content" formGroupName="transporter">
      <p class="title">Transporteur</p>

      <flu-form-field>
        <datalist id="flu-transporter-names">
          <option *ngFor="let item of contacts?.transporterNames" [value]="item">
        </datalist>
        <label class="label">Nom</label>
        <input class="input is-medium" formControlName="name" list="flu-transporter-names">
      </flu-form-field>

      <div class="field">
        <div class="control">
          <datalist id="flu-transporter-emails">
            <option *ngFor="let item of contacts?.transporterEmails" [value]="item">
          </datalist>
          <label class="label">Email de contact</label>
          <input class="input is-medium" formControlName="email" type="email" list="flu-transporter-emails"
                 [ngClass]="{'is-danger': orderForm.get('transporter.email').invalid}">
        </div>
        <p *ngIf="orderForm.get('transporter.email').invalid" class="help is-danger">
          L'email n'est pas valide</p>
      </div>

      <div class="field">
        <div class="control">
          <datalist id="flu-transporter-cellphones">
            <option *ngFor="let item of contacts?.transporterCellphones" [value]="item">
          </datalist>
          <label class="label">Téléphone portable</label>
          <input class="input is-medium" formControlName="cellphone" list="flu-transporter-cellphones"
                 [ngClass]="{'is-danger': orderForm.get('transporter.cellphone').invalid}">
        </div>
      </div>
      <p *ngIf="orderForm.get('transporter.cellphone').invalid" class="help is-danger">
        Le numéro de portable n'est pas au format 06 01 02 03 04</p>
    </div>
  </div>

  <div class="level"></div>

  <div class="card">
    <div class="card-content" formGroupName="ship">
      <p class="title">Bateau</p>

      <flu-form-field>
        <datalist id="flu-ship-names">
          <option *ngFor="let item of contacts?.shipNames" [value]="item">
        </datalist>
        <label class="label">Devise</label>
        <input class="input is-medium" formControlName="name" list="flu-ship-names">
      </flu-form-field>

      <flu-form-field>
        <datalist id="flu-ship-reg-numbers">
          <option *ngFor="let item of contacts?.shipRegNumbers" [value]="item">
        </datalist>
        <label class="label">Matricule</label>
        <input class="input is-medium" formControlName="regNumber" list="flu-ship-reg-numbers">
      </flu-form-field>

    </div>
  </div>

  <div class="level"></div>

  <div class="card">
    <div class="card-content">
      <p class="title">Informations sur le voyage et la marchandise</p>
      <datalist id="ports">
        <option *ngFor="let port of ports" [value]="port">
      </datalist>

      <ng-container formGroupName="originInfo">

        <flu-form-field>
          <label class="label">Lieu départ</label>
          <input class="input is-medium" formControlName="port" list="ports">
        </flu-form-field>

        <div class="field">
          <div class="control">
            <label class="label">Date prévu du chargement</label>
            <input class="input is-medium" formControlName="expectedDate" fluDatePicker
                   [(date)]="orderForm.value.originInfo.expectedDate">
          </div>
        </div>

        <div class="field">
          <div class="control">

            <datalist id="flu-load-emails">
              <option *ngFor="let item of contacts?.loadManagerEmails" [value]="item">
            </datalist>

            <label class="label">Email de contact du lieu de chargement</label>
            <input class="input is-medium" formControlName="email" type="email" list="flu-load-emails"
                   [ngClass]="{'is-danger': orderForm.get('originInfo.email').invalid}">
          </div>
          <p *ngIf="orderForm.get('originInfo.email').invalid" class="help is-danger">
            L'email n'est pas valide</p>
        </div>
      </ng-container>

      <ng-container formGroupName="destinationInfo">
        <flu-form-field>
          <label class="label">Lieu d'arrivée</label>
          <input class="input is-medium" formControlName="port" list="ports">
        </flu-form-field>

        <div class="field">
          <div class="control">
            <label class="label">Date prévu du déchargement</label>
            <input class="input is-medium" formControlName="expectedDate" fluDatePicker
                   [(date)]="orderForm.value.destinationInfo.expectedDate">
          </div>
        </div>

        <div class="field">
          <div class="control">

            <datalist id="flu-unload-emails">
              <option *ngFor="let item of contacts?.unloadManagerEmails" [value]="item">
            </datalist>

            <label class="label">Email de contact du lieu de déchargement</label>
            <input class="input is-medium" formControlName="email" type="email" list="flu-unload-emails"
                   [ngClass]="{'is-danger': orderForm.get('destinationInfo.email').invalid}">
          </div>
          <p *ngIf="orderForm.get('destinationInfo.email').invalid" class="help is-danger">
            L'email n'est pas valide</p>
        </div>
      </ng-container>

      <ng-container formGroupName="merchandise">

        <flu-form-field>
          <label class="label">Nature de la marchandise</label>
          <input class="input is-medium" formControlName="nature">
        </flu-form-field>

        <div class="field">
          <div class="control">
            <label class="label">Tonnage prévu</label>
            <input class="input is-medium" formControlName="weight"
                   [ngClass]="{'is-danger': orderForm.get('merchandise.weight').invalid}">
          </div>
          <p *ngIf="orderForm.get('merchandise.weight').invalid" class="help is-danger">
            La valeur saisie n'est pas un nombre valide
          </p>
        </div>

        <div class="field">
          <div class="control">
            <label class="label">Valeur déclarée de la marchandise (euros par tonne)</label>
            <input class="input is-medium" formControlName="price"
                   [ngClass]="{'is-danger': orderForm.get('merchandise.price').invalid}">
          </div>
          <p *ngIf="orderForm.get('merchandise.price').invalid" class="help is-danger">
            La valeur saisie n'est pas un nombre valide
          </p>
        </div>

      </ng-container>

    </div>
  </div>

</form>
