<flu-hero-container *ngIf="contract$ | async as contract" class="content">

  <flu-waybill [contract]="contract"></flu-waybill>

  <div class="level"></div>

  <button *ngIf="contract.status === STATUS.LOADED" class="button" (click)="confirm(contract)">
    Je confirme le chargement
  </button>

  <button *ngIf="contract.status === STATUS.UNLOADED" class="button" (click)="received(contract)">
    Je confirme le déchargement
  </button>

  <div class="level"></div>

  <flu-waybill-activity [contract]="contract"></flu-waybill-activity>

</flu-hero-container>
