<flu-hero-container *ngIf="contract$ | async as contract" class="content">

  <flu-waybill [contract]="contract"></flu-waybill>

  <div class="level"></div>

  <p *ngIf="contract.status === STATUS.LOADED">
    <button class="button" (click)="confirm(contract)">Je confirme le chargement</button>
  </p>

  <p *ngIf="contract.status === STATUS.UNLOADED">
    <button class="button" (click)="received(contract)">Je confirme le déchargement</button>
  </p>

  <div class="level"></div>

  <flu-waybill-activity [contract]="contract"></flu-waybill-activity>

</flu-hero-container>
