<div class="modal" [ngClass]="{'is-active': active}">
  <div class="modal-background"></div>

  <div class="modal-card">


    <header class="modal-card-head">
      <p class="modal-card-title">
        Envoyez la lettre de voiture nº {{waybillId}} par SMS
      </p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>

    <form class="modal-card-body" #smsForm="ngForm">

      <div class="field">
        <div class="control">
          <label class="label">Téléphone</label>
          <input class="input is-medium" name="phone" [(ngModel)]="phoneValue" #phone="ngModel"
                 pattern="(?:(?:\+|00)33|0)\s*[6-7](?:[\s.-]*\d{2}){4}" required
                 [ngClass]="{'is-danger': hasError(phone)}">
        </div>
        <p *ngIf="hasError(phone)" class="help is-danger">Le numéro de portable n'est pas valide</p>
      </div>

      <flu-error [errorMsg]="result.errorMsg"></flu-error>

    </form>

    <footer class="modal-card-foot">
      <div class="buttons">
        <button class="button is-link" (click)="send()" [disabled]="smsForm.invalid || result.pending">Envoyer</button>
      </div>
    </footer>
  </div>
</div>
