<flu-hero-container class="flu-text-form">
  <h1 class="title">Nouveau Transport Fluvial</h1>
  <h2 class="subtitle">Qui achète le transport ?</h2>

  <form class="content" #formCustomer="ngForm" novalidate>

    <div class="columns is-paddingless is-marginless">
      <div class="column is-narrow" style="padding-left: 0">
        <p class="subtitle is-3">Le donneur d'ordre est</p>
      </div>

      <div class="column">
        <p class="control">
          <input [(ngModel)]="delivery.client.name" #name="ngModel" name="name" required
                 class="input is-medium" [ngClass]="{'is-danger': hasError(name)}"
                 placeholder="nom ou raison sociale">
        </p>
      </div>
    </div>
    <div class="columns is-paddingless is-marginless">
      <div class="column is-narrow" style="padding-left: 0">
        <p class="subtitle is-3">Email</p>
      </div>

      <div class="column">
        <p class="control">
          <input [(ngModel)]="delivery.client.email" type="email" #email="ngModel" name="email" email required
                 class="input is-medium" [ngClass]="{'is-danger': hasError(email)}"
                 placeholder="exemple@domaine.com">
        </p>
      </div>
    </div>

    <div class="columns is-paddingless is-marginless">
      <div class="column is-narrow" style="padding-left: 0">
        <p class="subtitle is-3">Expédiée par</p>
      </div>

      <div class="column">
        <p class="control">
          <input [(ngModel)]="delivery.sender" #sender="ngModel" name="sender" required
                 class="input is-medium" [ngClass]="{'is-danger': hasError(sender)}"
                 placeholder="nom ou raison sociale">
        </p>
      </div>
    </div>

    <div class="columns is-paddingless is-marginless">
      <div class="column is-narrow" style="padding-left: 0">
        <p class="subtitle is-3">Le destinataire est</p>
      </div>

      <div class="column">
        <p class="control">
          <input [(ngModel)]="delivery.receiver" #receiver="ngModel" name="receiver" required
                 class="input is-medium" [ngClass]="{'is-danger': hasError(receiver)}"
                 placeholder="nom ou raison sociale">
        </p>
      </div>
    </div>

    <div class="level">
      <div class="level-item">
        <p *ngIf="formCustomer.invalid && submitted" class="notification is-danger">Veuillez vérifier votre saisie</p>
      </div>
      <div class="level-right">
        <div class="level-item">
          <button class="button is-text" type="button" (click)="submit()">Continuer</button>
        </div>
      </div>
    </div>

  </form>
</flu-hero-container>
