<flu-hero-container>
  <h2 class="title">Choisissez votre mot de passe</h2>


  <form style="max-width: 400px" [formGroup]="changePasswordForm">

    <div class="field">
      <div class="control">
        <label class="label">Mot de passe</label>
        <input class="input is-medium" type="password" formControlName="password" autocomplete="password"
        >
      </div>
      <p *ngIf="showError(changePasswordForm.get('password'))" class="help is-danger">
        Veuillez entrer 6 caractères ou plus
      </p>
    </div>
    <div class="field">
      <div class="control">
        <label class="label">Confirmer le mot de passe</label>
        <input class="input is-medium" type="password" formControlName="confirmPassword" autocomplete="password">
      </div>
      <p *ngIf="changePasswordForm?.errors?.passwordMismatch" class="help is-danger">
        Les mots de passe ne correspondent pas
      </p>
    </div>

    <div class="field" *ngIf="!successMsg">
      <div class="control">
        <button class="button is-link" (click)="changePassword()"  [ngClass]="{'is-loading': result.pending}"
                [disabled]="changePasswordForm.invalid || result.pending">
          Valider
        </button>
      </div>
    </div>

    <flu-success *ngIf="successMsg">
      <p>{{successMsg}} <a routerLink="/connexion" class="has-text-link">Se connecter</a></p>
    </flu-success>

    <flu-error [errorMsg]="result.errorMsg"></flu-error>
  </form>
</flu-hero-container>
