<flu-hero-container>
  <h2 class="title">Lettre de voiture nº {{ waybillId }} </h2>

  <form *ngIf="unloadInfoForm; else loading" [formGroup]="unloadInfoForm">

    <div class="card">
      <div class="card-content">
        <p class="title">Déchargement</p>

        <div class="field">
          <div class="control">
            <label class="label">Date de début du déchargement</label>
            <input class="input is-medium" formControlName="startDate" fluDatetimePicker
                   [(date)]="unloadInfoForm.value.startDate">
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="label">Date de fin du déchargement</label>
            <input class="input is-medium" formControlName="endDate" fluDatetimePicker
                   [(date)]="unloadInfoForm.value.endDate">
          </div>
        </div>

        <div class="field">
          <div class="control">
          <label class="label">Tonnage déchargé</label>
          <input class="input is-medium" formControlName="merchandiseWeight"
                 [ngClass]="{'is-danger': unloadInfoForm.get('merchandiseWeight').invalid}">
          </div>
          <p *ngIf="unloadInfoForm.get('merchandiseWeight').invalid" class="help is-danger">
            Le tonnage saisie n'est pas un nombre valide
          </p>
        </div>

        <flu-form-field>
          <label class="label">Commentaires</label>
          <textarea class="textarea is-medium" formControlName="comments"></textarea>
        </flu-form-field>

      </div>
    </div>

    <div class="level"></div>

    <div class="card">
      <div class="card-content" formGroupName="loadManager">
        <p class="title">Responsable du déchargement</p>

        <flu-form-field>
          <label class="label">Nom</label>
          <input class="input is-medium" formControlName="name">
        </flu-form-field>

        <flu-form-field>
          <label class="label">Fonction</label>
          <input class="input is-medium" formControlName="jobFunction">
        </flu-form-field>

        <div class="field">
          <div class="control">

            <label class="label">Email de contact</label>
            <input class="input is-medium" formControlName="email" type="email"
                   [ngClass]="{'is-danger': unloadInfoForm.get('loadManager.email').invalid}">
          </div>
          <p *ngIf="unloadInfoForm.get('loadManager.email').invalid" class="help is-danger">
            L'email n'est pas valide</p>
        </div>

      </div>
    </div>

    <flu-error [errorMsg]="result.errorMsg"></flu-error>

    <div class="level"></div>

    <div class="buttons">
      <button class="button" (click)="openShareModal()">Envoyer la lettre de voiture</button>

      <button class="button is-link" (click)="sendUnloadInfo()"
              [disabled]="result.pending" [ngClass]="{'is-loading': result.pending}">
        Déchargement terminé
      </button>
    </div>

  </form>

  <ng-template #loading>
    <flu-loading></flu-loading>
  </ng-template>

</flu-hero-container>

<flu-waybill-share *ngIf="showShareModal" [(show)]="showShareModal" [waybillNotify]="{waybillId: waybillId}"></flu-waybill-share>
