<a class="button" *ngIf="waybill.documentUrl" [href]="waybill.documentUrl" target="_blank">
  <span class="icon"><i class="fa fa-download"></i></span>
  <span>Télécharger au format pdf</span>
</a>

<!--Action Options -->
<button class="button" *ngIf="isNotLoadStarted(waybill)"
        [routerLink]="['/lettre-de-voiture', waybill.code, 'commande']">
  Modifier
</button>

<button class="button is-link" *ngIf="isNotLoadStarted(waybill)"
        [routerLink]="['/lettre-de-voiture', waybill.code, 'chargement']">
  Démarrer le chargement...
</button>

<button class="button" *ngIf="isNotLoadFinished(waybill)"
        [routerLink]="['/lettre-de-voiture', waybill.code, 'chargement']">
  Modifier le chargement
</button>

<button class="button is-link" *ngIf="isNotUnloadStarted(waybill)"
        [routerLink]="['/lettre-de-voiture', waybill.code, 'dechargement']">
  Démarrer le déchargement...
</button>

<button class="button" *ngIf="isNotUnloadFinished(waybill)"
        [routerLink]="['/lettre-de-voiture', waybill.code, 'dechargement']">
  Modifier le déchargement
</button>
