<flu-hero-container class="content">
  <h1 class="title">Mes Transports</h1>
  <table class="table" *ngIf="contracts$ | async as contracts">
    <thead>
      <th>Contract</th>
      <th>Client</th>
      <th>Status</th>
      <th>Action</th>
    </thead>

    <tbody>
    <tr *ngFor="let contract of contracts">
      <td><a [routerLink]="'/contrat/' + contract.id">{{contract.id}}</a></td>
      <td>{{contract.delivery.client.name}}</td>
      <td>{{contract.status}}</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</flu-hero-container>
