<flu-hero-container class="content">
  <h1>Confirmation de transport</h1>

  <flu-delivery-detail *ngIf="contract" [delivery]="contract.delivery"></flu-delivery-detail>

  <div class="level"></div>

  <button *ngIf="!contract.createdAt" class="button is-link" (click)="send()">Je valide</button>

  <p *ngIf="contract.createdAt">Crée le {{contract.createdAt}}</p>

  <a class="button is-text" *ngIf="contract.createdAt" [href]="contract.documentUrl" target="_blank">
    Télécharger la confirmation de transport
  </a>

</flu-hero-container>
