<section class="section">
  <div class="container">
    <h1 class="title">
      Fluctu@t
    </h1>

    <!-- Company -->
    <div class="card">
      <div class="card-header">
        <div class="card-header-icon">
          <span class="icon is-small is-left">
            <i class="fas fa-building"></i>
          </span>
        </div>
        <div class="card-header-title">Trasporteur</div>
      </div>
      <div class="card-content">
        <form>
          <div class="field">
            <label class="label">Entreprise</label>
            <div class="control">
              <input class="input" placeholder="Entreprise">
            </div>
          </div>

          <div class="field">
            <label class="label">Adresse</label>
            <div class="control">
              <input class="input" placeholder="Adresse">
            </div>
          </div>

          <div class="field">
            <label class="label">Téléphone</label>
            <div class="control has-icons-left">
              <input class="input" type="tel" placeholder="Téléphone">
              <span class="icon is-small is-left">
                <i class="fas fa-phone"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Fax</label>
            <div class="control has-icons-left">
              <input class="input" type="tel" placeholder="Fax">
              <span class="icon is-small is-left">
                <i class="fas fa-fax"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left">
              <input class="input" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>

        </form>
      </div>
    </div>

    <!-- Ship -->
    <div class="card">
      <div class="card-header">
        <div class="card-header-icon">
          <span class="icon is-small is-left">
            <i class="fas fa-ship"></i>
          </span>
        </div>
        <div class="card-header-title">Bateau</div>
      </div>

      <div class="card-content">

        <div class="field">
          <label class="label">Devise</label>
          <div class="control">
            <input class="input" placeholder="Devise">
          </div>
        </div>

        <div class="field">
          <label class="label">Matricule</label>
          <div class="control">
            <input class="input" placeholder="Matricule">
          </div>
        </div>

        <div class="field">
          <label class="label">Pavillon</label>
          <div class="control">
            <input class="input" placeholder="Pavillon">
          </div>
        </div>

        <div class="field">
          <label class="label">PEL (Pois en lourd)</label>
          <div class="control has-icons-left">
            <span class="icon is-small is-left">
              <i class="fas fa-weight-hanging"></i>
            </span>
            <input class="input" placeholder="PEL (Pois en lourd)">
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
