<flu-hero-container class="content">

  <ng-container *ngIf="filteredWaybills$ | async as waybills; else loading">

    <h1 class="title">Mes lettres de voiture ({{ waybills.length }})</h1>

    <div style="margin-bottom: 1.5rem">
      <button class="button is-link" [routerLink]="'/lettre-de-voiture/new'">Nouvelle lettre de voiture</button>

      <div class="select" style="margin-left: 0.75rem">
        <select [(ngModel)]="statusFilter" (change)="refreshFilteredWaybills()">
          <option [value]="STATUS_OPTION.ALL">Toutes</option>
          <option [value]="STATUS_OPTION.IN_PROGRESS">En cours</option>
          <option [value]="STATUS_OPTION.END">Finies</option>
        </select>
      </div>

    </div>

    <div class="card" *ngFor="let waybill of waybills" style="margin-bottom: 0.75rem">
      <div class="card-content">

        <p class="title has-text-weight-normal is-size-4">
          <a [routerLink]="['/lettre-de-voiture', waybill.code, 'detail']">{{waybill.code}}</a>
        </p>
        <p class="subtitle" style="font-size: 0.90rem">
          Envoyée le <span class="has-text-weight-bold">{{waybill.order.sentAt | date: "shortDate"}}</span>
        </p>


        <div class="columns">
          <div class="column is-narrow">
            <span class="icon"><i class="fa fa-water"></i></span>
            {{waybill.order.sender.name || 'non renseigné'}}
            <span class="icon"><i class="fa fa-arrow-right"></i></span>
            {{waybill.order.receiver.name || 'non renseigné'}}
          </div>
          <div class="column is-narrow">
            <span class="icon"><i class="fa fa-ship"></i></span>
            {{waybill.order.ship.name || 'non renseigné'}}
          </div>
        </div>
        <div class="columns">
          <div class="column is-narrow">
            <span class="icon"><i class="far fa-calendar-alt"></i></span>
            <span [title]="waybill.loadInfo.endDate ? 'Date de fin du chargement': 'Date de départ'">{{ getLoadInfoDate(waybill)}}</span>
            <span class="icon"><i class="fa fa-arrow-right"></i></span>
            <span [title]="waybill.unloadInfo.endDate ? 'Date de fin du déchargemnet': 'Date d\'arrivée'">{{ getUnloadInfoDate(waybill)}}</span>
          </div>
        </div>

        <p>{{getStatus(waybill)}}</p>

        <div class="buttons">
          <flu-waybill-options [waybill]="waybill"></flu-waybill-options>
        </div>

      </div>
    </div>

  </ng-container>
</flu-hero-container>

<ng-template #loading>
  <flu-loading></flu-loading>
</ng-template>
