<flu-hero-container class="content">


  <h1 class="title">Mes Lettres de voiture</h1>

  <div class="level">
    <div class="level-left">
      <button class="button is-link" [routerLink]="'/lettre-de-voiture/new'">Nouvelle Lettre de Voiture</button>
    </div>
  </div>

  <div *ngIf="waybills$ | async as waybills; else loading">
    <div class="card" *ngFor="let waybill of waybills" style="margin-bottom: 0.75rem">
      <div class="card-content">
        <p class="is-size-4"><a [routerLink]="['/lettre-de-voiture', waybill.id, 'detail']">{{waybill.id}}</a></p>
        <p>{{getStatus(waybill)}}</p>
        <flu-waybill-options [waybill]="waybill"></flu-waybill-options>
      </div>
    </div>

  </div>
</flu-hero-container>

<ng-template #loading>
  <flu-loading></flu-loading>
</ng-template>
