<flu-hero-container class="content">


  <h1 class="title">Mes Lettres de voiture</h1>

  <div class="level">
    <div class="level-left">
      <button class="button is-link" [routerLink]="'/lettre-de-voiture/new'">Nouvelle Lettre de Voiture</button>
    </div>
  </div>

  <div *ngIf="waybills$ | async as waybills; else loading">
    <div class="card" *ngFor="let waybill of waybills" style="margin-bottom: 0.75rem">
      <div class="card-content">
        <p class="is-size-4"><a [routerLink]="['/lettre-de-voiture', waybill.id, 'resume']">{{waybill.id}}</a> </p>

        <flu-waybill-options [waybill]="waybill"></flu-waybill-options>
      </div>
    </div>

    <!--<tbody>
    <tr *ngFor="let contract of contracts">
      <td><a [routerLink]="['/transporteur/contrat/' + contract.id]">{{contract.id}}</a></td>
      <td>{{contract.delivery.client.name}}</td>
      <td>
        <p *ngIf="contract.status === STATUS.CREATED">En attente d'acceptation de la Confirmation de Transport</p>
        <p *ngIf="contract.status === STATUS.LOADED">En attente de confirmation du Chargement</p>
        <p *ngIf="contract.status === STATUS.UNLOADED">En attente de confirmation du Déchargement</p>
        <button *ngIf="contract.status === STATUS.ACCEPTED"
                [routerLink]="'/transporteur/contrat/' + contract.id + '/bateau'"
                class="button is-link">
          Chargement...
        </button>
        <button *ngIf="contract.status === STATUS.CONFIRMED"
                [routerLink]="'/transporteur/contrat/' + contract.id + '/dechargement'"
                class="button is-link">
          Déchargement...
        </button>
      </td>
    </tr>
    </tbody>
  </table>-->
  </div>
</flu-hero-container>

<ng-template #loading>
  <flu-loading></flu-loading>
</ng-template>
