<flu-hero-container class="content">
  <h1 class="title">Mes Transports</h1>
  <table class="table" *ngIf="contracts$ | async as contracts">
    <thead>
      <th>Contract</th>
      <th>Client</th>
      <th>Status</th>
      <th>Action</th>
    </thead>

    <tbody>
    <tr *ngFor="let contract of contracts">
      <td><a [routerLink]="'/client/contrat/' + contract.id">{{contract.id}}</a></td>
      <td>{{contract.delivery.client.name}}</td>
      <td>{{contract.status}}</td>
      <td>
        <button *ngIf="contract.status === STATUS.ACCEPTED" [routerLink]="'/contrat/' + contract.id + '/bateau'"
                class="button is-link">La marchandise est chargée</button>
        <button *ngIf="contract.status === STATUS.CONFIRMED" [routerLink]="'/contrat/' + contract.id + '/dechargement'"
                       class="button is-link">La marchandise est déchargée</button>
      </td>
    </tr>
    </tbody>
  </table>
</flu-hero-container>
