<flu-hero-container>

  <h2 class="title">Nouvelle lettre de voiture</h2>

  <flu-waybill-form-order [contacts]="contacts$ | async"></flu-waybill-form-order>

  <flu-error [errorMsg]="result.errorMsg"></flu-error>

  <div class="level"></div>

  <div class="buttons">

    <button class="button" routerLink="/mes-lettres-de-voiture">
      Annuler
    </button>

    <button class="button is-link" (click)="create()" [disabled]="result.pending"
            [ngClass]="{'is-loading': result.pending}">
      Créer
    </button>
  </div>

</flu-hero-container>
