<flu-hero-container class="content">

  <h1>Lettre de voiture {{waybillId}}</h1>

  <ng-container *ngIf="waybill$ | async as waybill; else loading">
    <p>Donneur d'ordre: <strong>{{waybill.order.customer.name}}</strong></p>
    <p>Expéditeur : <strong>{{waybill.order.sender.name}}</strong></p>
    <p>Destinatire : <strong>{{waybill.order.receiver.name}}</strong></p>

    <p>Il vous est expédié sur le bateau <strong class="is-uppercase">{{waybill.order.ship.name}}</strong>
      Matricule <strong>{{waybill.order.ship.regNumber}}</strong>
    </p>
    <p>Conduit par <strong>{{waybill.order.transporter.name}}</strong> un tonnage de
      <strong>{{waybill.loadInfo.merchandiseWeight}}</strong> tonnes de
      <strong>{{waybill.loadInfo.merchandiseType}}</strong>
      d'une valeur déclarée de <strong>{{waybill.loadInfo.merchandisePrice}} €</strong>
      par tonne, qui a été chargé au <strong>{{waybill.loadInfo.origin}}</strong> et que le transporteur déclare avoir
      reçu et s'engage à transporter au <strong>{{waybill.loadInfo.destination}}</strong>.</p>

    <h3>Le Chargement</h3>

    <p>Le chargement a commencé le {{waybill.loadInfo.loadStartDate}} </p>
    <p>et fini le {{waybill.loadInfo.loadEndDate}} </p>

    <ng-container *ngIf="waybill.loadInfo.comments">
      <h4>Commentaires</h4>
      <p>{{waybill.loadInfo.comments}}</p>
    </ng-container>


  </ng-container>


  <ng-template #loading>
    <flu-loading></flu-loading>
  </ng-template>

</flu-hero-container>
