<flu-hero-container class="flu-text-form">
  <h1 class="title">Chargement marchandise</h1>
  <h2 class="subtitle">Qui transporte la marchandise ?</h2>

  <form class="content" #formShip="ngForm" novalidate>

    <div class="columns is-paddingless is-marginless is-desktop">
      <div class="column is-paddingless is-marginless">

        <div class="columns is-paddingless is-marginless">
          <div class="column is-narrow" style="padding-left: 0"><p class="subtitle is-3">Le bateau devise</p></div>
          <div class="column">
            <p class="control">
              <input [(ngModel)]="ship.name" #shipName="ngModel" name="shipName" required
                     class="input is-medium" [ngClass]="{'is-danger': hasError(shipName)}"
                     placeholder="AIGUE MARINE">
            </p>
          </div>
        </div>

      </div>

      <div class="column is-paddingless is-marginless">

        <div class="columns is-paddingless is-marginless">
          <div class="column is-narrow" style="padding-left: 0"><p class="subtitle is-3">et matricule</p></div>
          <div class="column">
            <p class="control">
              <input [(ngModel)]="ship.regNumber" #regNumber="ngModel" name="regNumber" required
                     class="input is-medium" [ngClass]="{'is-danger': hasError(regNumber)}"
                     placeholder="FR 1234 Y">
            </p>
          </div>
        </div>

      </div>
    </div>

    <div class="columns is-paddingless is-marginless">
      <div class="column is-narrow" style="padding-left: 0">
        <p class="subtitle is-3">conduit par</p>
      </div>

      <div class="column">
        <p class="control">
          <input [(ngModel)]="ship.captain" #captain="ngModel" name="captain" required
                 class="input is-medium" [ngClass]="{'is-danger': hasError(captain)}"
                 placeholder="nom du capitain du bateau">
        </p>
      </div>
    </div>

    <div class="level">
      <div class="level-item">
        <p *ngIf="formShip.invalid && submitted" class="notification is-danger">Veuillez vérifier votre saisie</p>
      </div>
      <div class="level-right">
        <div class="level-item">
          <button class="button is-text" type="button" (click)="submit()">Continuer</button>
        </div>
      </div>
    </div>

  </form>
</flu-hero-container>
