<flu-hero-container>
  <h2 class="title">Lettre de voiture nº {{ waybillId }} </h2>

  <form [formGroup]="loadInfoForm" (ngSubmit)="sendLoadInfo()">

    <div class="card">
      <div class="card-content" formGroupName="merchandise">
        <p class="title">Marchandise</p>

        <flu-form-field>
          <label class="label">Type de marchandise</label>
          <input class="input is-medium" formControlName="type">
        </flu-form-field>

        <flu-form-field>
          <label class="label">Tonnage</label>
          <input class="input is-medium" formControlName="weight">
        </flu-form-field>

        <flu-form-field>
          <label class="label">Valeur déclarée</label>
          <input class="input is-medium" formControlName="price">
        </flu-form-field>

      </div>
    </div>

    <div class="level"></div>

    <div class="card">
      <div class="card-content" formGroupName="loadInfo">
        <p class="title">Chargement</p>

        <flu-form-field>
          <label class="label">Lieu départ</label>
          <input class="input is-medium" formControlName="origin">
        </flu-form-field>

        <flu-form-field>
          <label class="label">Lieu d'arrivée</label>
          <input class="input is-medium" formControlName="destination">
        </flu-form-field>

        <flu-form-field>
          <label class="label">Date d'arrivée prévue</label>
          <input class="input is-medium" formControlName="arrivalDate">
        </flu-form-field>

        <flu-form-field>
          <label class="label">Date de début du chargement</label>
          <input class="input is-medium" formControlName="loadStartDate">
        </flu-form-field>

        <flu-form-field>
          <label class="label">Date de fin du chargement</label>
          <input class="input is-medium" formControlName="loadEndDate">
        </flu-form-field>

        <flu-form-field>
          <label class="label">Commentaires</label>
          <textarea class="textarea is-medium"></textarea>
        </flu-form-field>
      </div>
    </div>

    <div class="level"></div>

    <div class="card">
      <div class="card-content" formGroupName="loadManager">
        <p class="title">Responsable du chargement</p>

        <flu-form-field>
          <label class="label">Nom</label>
          <input class="input is-medium" formControlName="name">
        </flu-form-field>

        <flu-form-field>
          <label class="label">Fonction</label>
          <input class="input is-medium" formControlName="jobFunction">
        </flu-form-field>

      </div>
    </div>

    <flu-error [errorMsg]="result.errorMsg"></flu-error>

    <div class="level"></div>

    <div class="level">
      <div class="level-item"></div>
      <div class="level-right">
        <div class="level-item">
          <button class="button is-link" type="submit"
                  [disabled]="result.pending" [ngClass]="{'is-loading': result.pending}">
            Chargement Terminé
          </button>
        </div>
      </div>
    </div>

  </form>
</flu-hero-container>
