<flu-hero-container class="content">

  <h1>Lettre de voiture nº {{waybillId}}</h1>

  <ng-container *ngIf="waybill$ | async as waybill; else loading">

    <!--Order Info-->
    <flu-waybill-order-info [order]="waybill.order"></flu-waybill-order-info>

    <!--Load Info-->
    <ng-container *ngIf="waybill.loadInfo.sentAt">
      <div class="level"></div>

      <flu-waybill-load-info [waybill]="waybill"></flu-waybill-load-info>

      <div class="level"></div>

      <!--status-->
      <flu-load-status-notification [loadInfo]="waybill.loadInfo" step="LOAD"></flu-load-status-notification>

    </ng-container>

    <!--Unload Info-->
    <ng-container *ngIf="waybill.unloadInfo.sentAt">
      <div class="level"></div>

      <flu-waybill-unload-info [waybill]="waybill"></flu-waybill-unload-info>

      <div class="level"></div>

      <flu-load-status-notification [loadInfo]="waybill.unloadInfo" step="UNLOAD"></flu-load-status-notification>
    </ng-container>

    <div class="level"></div>


    <!--Action Options -->
    <div class="buttons">
      <button class="button" *ngIf="!waybill.unloadInfo.validatedAt" (click)="openShareModal()">
        Envoyer la lettre de voiture
      </button>
      <flu-waybill-options [waybill]="waybill"></flu-waybill-options>
    </div>

  </ng-container>

  <ng-template #loading>
    <flu-loading></flu-loading>
  </ng-template>

</flu-hero-container>

<flu-waybill-share *ngIf="showShareModal" [(show)]="showShareModal" [waybillShare]="{waybillId: waybillId}"></flu-waybill-share>
