<section class="section">
  <form class="container" novalidate #deliveryForm="ngForm">
    <h1 class="title">
      Livraison
    </h1>

    <!-- Customer -->
    <div class="card">

      <div class="card-header">
        <div class="card-header-icon">
          <span class="icon is-small is-left">
            <i class="fas fa-user-tie"></i>
          </span>
        </div>
        <div class="card-header-title">Client</div>
      </div>

      <div class="card-content">

        <div class="field">
          <label class="label">Nom</label>
          <div class="control">
            <input class="input" name="name" [(ngModel)]="delivery.client.name" placeholder="Nom"
                   [ngClass]="{'is-danger': showError(name)}" #name="ngModel" required>
          </div>
          <p *ngIf="showError(name)" class="help is-danger">Veuillez renseigner ce champ</p>
        </div>

        <div class="field">
          <label class="label">Adresse</label>
          <div class="control">
            <input class="input" name="street" [(ngModel)]="delivery.client.address.street" placeholder="Adresse"
                   [ngClass]="{'is-danger': showError(street)}" #street="ngModel" required>
          </div>
          <p *ngIf="showError(street)" class="help is-danger">Veuillez renseigner ce champ</p>
        </div>

        <div class="field">
          <label class="label">Code Postal</label>
          <div class="control">
            <input class="input" name="zipCode" [(ngModel)]="delivery.client.address.zipCode" placeholder="Code Postal"
                   [ngClass]="{'is-danger': showError(zipCode)}" #zipCode="ngModel" required>
          </div>
          <p *ngIf="showError(zipCode)" class="help is-danger">Veuillez renseigner ce champ</p>
        </div>

        <div class="field">
          <label class="label">Ville</label>
          <div class="control">
            <input class="input" name="city" [(ngModel)]="delivery.client.address.city" placeholder="Ville"
                   [ngClass]="{'is-danger': showError(city)}" #city="ngModel" required>
          </div>
          <p *ngIf="showError(city)" class="help is-danger">Veuillez renseigner ce champ</p>
        </div>

        <div class="field">
          <label class="label">Téléphone</label>
          <div class="control has-icons-left">
            <input class="input" type="tel" name="phone" [(ngModel)]="delivery.client.phone" placeholder="Téléphone">
            <span class="icon is-small is-left">
              <i class="fas fa-phone"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left">
            <input class="input" type="email" name="email" [(ngModel)]="delivery.client.email" placeholder="Email">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>

      </div>
    </div>


    <!-- Merchandise Path-->
    <div class="card">
      <div class="card-header">
        <div class="card-header-icon">
          <span class="icon is-small is is-left">
            <i class="fa fa-compass"></i>
          </span>
        </div>
        <div class="card-header-title">Trajet</div>
      </div>

      <div class="card-content">

        <datalist id="ports">
          <option *ngFor="let port of ports" [value]="port">
        </datalist>

        <div class="field">
          <label class="label">Port d'origine</label>

          <div class="control has-icons-left">
            <span class="icon is-small is-left">
              <i class="fas fa-anchor"></i>
            </span>
            <input class="input" name="origin" [(ngModel)]="delivery.origin" list="ports" placeholder="Port">
          </div>
        </div>

        <div class="field">
          <label class="label">Date de départ</label>

          <div class="control has-icons-left">
            <span class="icon is-small is-left">
              <i class="fas fa-calendar"></i>
            </span>
            <input class="input" name="departureTime" fluDatePicker [(date)]="delivery.departureTime" [ngModel]="delivery.departureTime"
                   [ngClass]="{'is-danger': showError(departureTime)}" #departureTime="ngModel" required>
          </div>
          <p *ngIf="showError(departureTime)" class="help is-danger">Veuillez renseigner ce champ</p>
        </div>

        <div class="field">
          <label class="label">Port de destination</label>

          <div class="control has-icons-left">
            <span class="icon is-small is-left">
              <i class="fas fa-anchor"></i>
            </span>
            <input class="input" name="destination" [(ngModel)]="delivery.destination" list="ports" placeholder="Port">
          </div>
        </div>

        <div class="field">
          <label class="label">Date d'arrivée</label>

          <div class="control has-icons-left">
            <span class="icon is-small is-left">
              <i class="fas fa-calendar"></i>
            </span>
            <input class="input" name="arrivalTime" fluDatePicker [(date)]="delivery.arrivalTime" [ngModel]="delivery.arrivalTime"
                   [ngClass]="{'is-danger': showError(arrivalTime)}" #arrivalTime="ngModel" required>
          </div>
          <p *ngIf="showError(arrivalTime)" class="help is-danger">Veuillez renseigner ce champ</p>
        </div>

      </div>
    </div>

    <!-- Merchandise -->
    <div class="card">
      <div class="card-header">
        <div class="card-header-icon">
          <span class="icon is-small is is-left">
            <i class="fa fa-truck-loading"></i>
          </span>
        </div>
        <div class="card-header-title">Merchandise</div>
      </div>

      <div class="card-content">

        <div class="field">
          <label class="label">Type de merchandise</label>

          <div class="control">
            <input class="input" name="type" [(ngModel)]="delivery.type" placeholder="type de merchandise"
                   [ngClass]="{'is-danger': showError(type)}" #type="ngModel" required>
          </div>
          <p *ngIf="showError(type)" class="help is-danger">Veuillez renseigner ce champ</p>
        </div>

        <div class="field">
          <label class="label">Tonnage</label>

          <div class="control">
            <input class="input" name="weight" [(ngModel)]="delivery.weight" placeholder="Tonnage"
                   [ngClass]="{'is-danger': showError(weight)}" #weight="ngModel" required>
          </div>
          <p *ngIf="showError(weight)" class="help is-danger">Veuillez renseigner ce champ</p>
        </div>

        <div class="field">
          <label class="label">Délai de planche</label>

          <div class="field has-addons" style="flex-wrap: wrap">
            <div class="control is-expanded">
              <input class="input" name="loadDelay" [(ngModel)]="delivery.loadDelay" placeholder="Délai de planche"
                     [ngClass]="{'is-danger': showError(loadDelay)}" #loadDelay="ngModel" required>
            </div>
            <div class="control">
              <span class="button is-static">jours au chargement</span>
            </div>

            <p *ngIf="showError(loadDelay)" class="help is-danger" style="width: 100%">Veuillez renseigner ce champ</p>

          </div>

          <div class="field has-addons" style="flex-wrap: wrap">
            <div class="control is-expanded">
              <input class="input" name="unloadDelay" [(ngModel)]="delivery.unloadDelay" placeholder="Délai de planche"
                     [ngClass]="{'is-danger': showError(unloadDelay)}" #unloadDelay="ngModel" required>
            </div>
            <div class="control">
              <span class="button is-static">jours au déchargement</span>
            </div>
            <p *ngIf="showError(unloadDelay)" class="help is-danger" style="width: 100%">Veuillez renseigner ce champ</p>
          </div>
        </div>


        <div class="field">
          <label class="label">Matières dangereuses</label>
          <div class="control">
            <label class="radio">
              <input type="radio" name="dangerous" [(ngModel)]="delivery.dangerous" [value]="true">
              Oui
            </label>
            <label class="radio">
              <input type="radio" name="dangerous" [(ngModel)]="delivery.dangerous" [value]="false">
              Non
            </label>
          </div>
        </div>

      </div>
    </div>

    <!-- Tarifes -->
    <div class="card">
      <div class="card-header">
        <div class="card-header-icon">
          <span class="icon is-small is is-left">
            <i class="fa fa-money-bill"></i>
          </span>
        </div>
        <div class="card-header-title">Tarifs</div>
      </div>

      <div class="card-content">

        <div class="field">
          <label class="label">Prix</label>

          <div class="field has-addons">
            <div class="control is-expanded">
              <input class="input" name="price" [(ngModel)]="delivery.price" placeholder="Prix à la tonne"
                     [ngClass]="{'is-danger': showError(price)}" #price="ngModel" required>
            </div>
            <div class="control">
              <span class="button is-static">euros par tonne</span>
            </div>
          </div>
          <p *ngIf="showError(price)" class="help is-danger">Veuillez renseigner ce champ</p>
        </div>

        <div class="field">
          <label class="label">Les péages et taxes sont prise en charge par le client ?</label>
          <div class="control">
            <label class="radio">
              <input type="radio" name="oui" [(ngModel)]="delivery.clientPayTaxes" [value]="true">
              Oui
            </label>
            <label class="radio">
              <input type="radio" name="non" [(ngModel)]="delivery.clientPayTaxes" [value]="false">
              Non
            </label>
          </div>
        </div>

        <div class="field">
          <label class="label">Surestaries</label>
          <div class="field has-addons" style="flex-wrap: wrap">
            <div class="control is-expanded">
              <input class="input" name="delayPenalty" [(ngModel)]="delivery.delayPenalty" placeholder="Surestaires"
                     [ngClass]="{'is-danger': showError(delayPenalty)}" #delayPenalty="ngModel" required>
            </div>
            <div class="control">
              <span class="button is-static">euros par jour</span>
            </div>
            <p *ngIf="showError(delayPenalty)" class="help is-danger" style="width: 100%">Veuillez renseigner ce champ</p>
          </div>
        </div>

        <div class="field">
          <button class="button" (click)="save()">Sauvegarder</button>
        </div>

      </div>
    </div>

  </form>
</section>
