<flu-hero-container class="flu-text-form">
  <h1 class="title">Nouveau Transport Fluvial</h1>
  <h2 class="subtitle">Quelle est la marchandise à transporter ?</h2>

  <form class="content" #formMerchandise="ngForm" novalidate>

    <div class="columns is-paddingless is-marginless">

      <!--merchandise weight-->
      <div class="column is-paddingless is-marginless is-4">
        <div class="columns is-paddingless is-marginless is-mobile">
          <div class="column">
            <div class="control">
              <input [(ngModel)]="delivery.merchandise.weight" #merchandiseWeight="ngModel" name="merchandiseWeight"
                     required
                     pattern="\d+"
                     class="input is-medium" [ngClass]="{'is-danger': hasError(merchandiseWeight)}"
                     placeholder="100">
            </div>
          </div>
          <div class="column is-narrow">
            <p class="subtitle is-3">tonnes</p>
          </div>
        </div>
      </div>

      <!--merchandise type-->
      <div class="column is-paddingless is-marginless">
        <div class="columns is-paddingless is-marginless is-mobile">
          <div class="column is-narrow">
            <p class="subtitle is-3">de</p>
          </div>
          <div class="column">
            <div class="control">
              <input [(ngModel)]="delivery.merchandise.type" #merchandiseType="ngModel" name="merchandiseType"
                     required
                     class="input is-medium" [ngClass]="{'is-danger': hasError(merchandiseType)}"
                     placeholder="tout venant">
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="columns is-paddingless is-marginless is-vcentered">
      <div class="column is-narrow" style="padding-left: 0">
        <p class="subtitle is-3">Avec une valeur déclarée de </p>
      </div>
      <div class="column">
        <div class="columns is-paddingless is-marginless is-mobile">
          <div class="column is-5">
            <div class="control">
              <input [(ngModel)]="delivery.merchandise.price" #merchandisePrice="ngModel" name="merchandisePrice"
                     required
                     pattern="\d+"
                     class="input is-medium" [ngClass]="{'is-danger': hasError(merchandisePrice)}"
                     placeholder="10">
            </div>
          </div>
          <div class="column is-narrow">
            <p class="subtitle is-3">€ par tonne</p>
          </div>
        </div>
      </div>
    </div>

    <div class="level">
      <div class="level-item">
        <p *ngIf="formMerchandise.invalid && submitted" class="notification is-danger">Veuillez vérifier votre
          saisie</p>
      </div>
      <div class="level-right">
        <div class="level-item">
          <button class="button is-text" type="button" (click)="submit()">Continuer</button>
        </div>
      </div>
    </div>


  </form>
</flu-hero-container>
