<section class="hero is-large is-bold bg-hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title has-text-white-bis is-size-1">La lettre de voiture fluviale dématérialisée</h1>
      <h2 class="subtitle has-text-white-bis is-size-3">Gagnez du temps et suivez vos transports avec une démarche zéro
        papier</h2>
      <a routerLink="/connexion" class="button is-link is-large">Se connecter</a>
    </div>
  </div>

  <flu-footer class="hero-foot"></flu-footer>

</section>

