<flu-hero-container *ngIf="contract$ | async as contract" class="content">
  <h1 class="title">Contrat de transport #{{contract.id}}</h1>
  <h3>Transporteur</h3>

  <p>{{contract.transporter.name}}</p>

  <flu-delivery-detail [delivery]="contract.delivery"></flu-delivery-detail>

  <div class="level"></div>
  <p *ngIf="!contract.acceptedAt">
    <button class="button" (click)="accept(contract)">J'accepte</button>
  </p>
  <p *ngIf="contract.acceptedAt" class="has-text-success">
    Contrat accepté le {{contract.acceptedAt | date: "d LLLL y \'à\' H'h' mm":'':'fr'}}.
  </p>

  <a class="button is-text" *ngIf="contract.acceptedAt" [href]="contract.documentUrl" target="_blank">
    Télécharger la confirmation de transport
  </a>
</flu-hero-container>
