<flu-hero-container *ngIf="contract$ | async as contract" class="content">
  <h1 class="title">Confirmation Transport #{{contract.id}}</h1>

  <flu-delivery-detail [contract]="contract"></flu-delivery-detail>

  <div class="level"></div>

  <button *ngIf="contract.status === STATUS.CREATED" class="button" (click)="accept(contract)">
    J'accepte
  </button>

  <a class="button is-text" *ngIf="contract.acceptedAt" [href]="contract.documentUrl" target="_blank">
    Télécharger la confirmation de transport
  </a>

  <div class="level"></div>

  <flu-delivery-activity [contract]="contract"></flu-delivery-activity>

</flu-hero-container>
