<flu-hero-container *ngIf="contract$ | async as contract" class="content">

  <flu-delivery-detail [contract]="contract"></flu-delivery-detail>

  <div class="level"></div>

  <button *ngIf="!contract.createdAt" class="button is-link" (click)="send(contract)">
    Créer
  </button>

  <a class="button is-text" *ngIf="contract.createdAt" [href]="contract.documentUrl" target="_blank">
    Télécharger la confirmation de transport
  </a>

  <div class="level"></div>

  <div class="level" *ngIf="errorMsg">
    <div class="level-item notification is-danger">{{errorMsg}}</div>
  </div>

  <flu-delivery-activity [contract]="contract"></flu-delivery-activity>

</flu-hero-container>
